@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  position: absolute;
  appearance: none;
  width: 100%;
  height: 100%;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #ff1515;
  background: transparent;
  cursor: pointer;
  height: 72px;
  width: 1px;
}

input[type="range"]::-moz-range-thumb {
  border: 1px solid #ff1515;
  background: #ff1515;
  cursor: pointer;
  height: 72px;
  width: 1px;
}
